@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: #15202b;
    color: #eee;
    font-family: 'Overpass Mono', monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    flex: 1 0 auto;
    opacity: .4;
}

button {
    font-family: 'Overpass Mono', monospace;
}

.tabs-wrap {
    border: 1px dashed #eee;
    border-bottom: none;
}

.tabs .tab a:hover {
    background-color:#202c38;
}

.tabs .tab a.active {
    background-color: #202c38!important;
}

.tabs .indicator {
    background-color:#333e49;
}

.tab-content {
    border: 1px dashed #eee;
    border-top: none;
}

.tab-content div {
    margin-top: 1rem;
}

.cursor {
    animation-name: tick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

.works {
    border: none;
}

.works a {
    border-bottom: 1px dashed #ddd!important;
}

.avatar {
    margin-top: 50px;
}

.avatar img {
    border: 3px solid #2c3946;
}

.avatar img:hover {
    border: 3px solid #1de9b6;
    transition-duration: .3s;
}

@keyframes tick {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}

.rounded-button {
    width: 80%;
    background-color: transparent;
    border: 2px solid #1de9b6; 
    color: #1de9b6;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
}

.rounded-button:hover {
    background-color: #1de9b617;
    cursor: pointer;
}

.rounded-button:active,
.rounded-button:focus {
    background-color: #1de9b634;
}

.blog {
    border: none;
}

.blog .collapsible-header {
    border-bottom: 1px dashed #ddd;
    margin-top: 0!important;
}

.blog .collapsible-body {
    margin-top: 0!important;
    border-bottom: none;
}

.skill svg {
    fill: white;
    height: 75%;
    width: 100%;
}

.character svg {
    width: 100%;
    height: 50%;
}

p {
    font-size: 1.2rem;
}

.skills {
    flex-wrap: wrap;
}

.skill {
    width: 75px!important;
    height: 75px;
    margin: .25rem .5rem;
    filter: grayscale(70%);
}

.skill:hover {
    transform: scale(0.95);
    filter: grayscale(0%);
}